body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #4caf50;
    border-bottom: #f1f1f1 solid 1px;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)
}

.container {
    display: flex;
    max-width: 100%;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar {
    width: 250px;
    background: #4CAF50;
    height: auto;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
   
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar ul li a {
    text-decoration: none;
    padding: 15px;
    color: white;
    display: block;
}

.sidebar ul li:hover {
    background: rgba(255, 255, 255, 0.2);
}
.main {
    flex-grow: 1;
    padding: 20px;
}

.form-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.form-container input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #218838;
}

.download-btn {
    background: #4caf50;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.download-btn:hover {
    background:#49b44c;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background: #4caf50;
    color: white;
}

tr:hover {
    background: #f1f1f1;
}
